**Class split: {{ p.leader }} {{ '%.1f' | format(p.leader_value) }} pts/start vs {{ p.other }} {{ '%.1f' | format(p.other_value) }}.** {{ ins.subject }} scores at a meaningfully higher rate in {{ p.leader }} cars.
