**{{ p.length }}-race fastest-lap streak.** {{ ins.subject }} set the fastest lap in {{ p.length }} races running, from {{ p.start.season }} {{ p.start.venue }} R{{ p.start.race }} through {{ p.end.season }} {{ p.end.venue }} R{{ p.end.race }}.
